<mat-toolbar color="primary"> <span>{{title}}</span> </mat-toolbar>

<section id="content" class="flex-container">


  <mat-drawer-container id="sideMenu">
    <mat-drawer class="drawerContent" #drawer mode="side" opened>
      <app-menu></app-menu>
    </mat-drawer>

    <div>
      <button type="button" class="btn btn-outline-light mx-2 mt-3" (click)="drawer.toggle(); sideShow();">
        <fa-icon [icon]="chevron"></fa-icon>
      </button>
    </div>
  </mat-drawer-container>



  <app-schedules class="flex-item-right"></app-schedules>
  
</section>
